#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/media/xilinx-vip.h>

&amba {
	pcam_clk: pcam_clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <12000000>;
	};

        DOVDD: fixed_regulator_DOVDD@0 {
                compatible = "regulator-fixed";
                regulator-name = "DOVDD_reg";
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <1800000>;
                gpio = <&gpio0 57 GPIO_ACTIVE_HIGH>;
                startup-delay-us = <50000>;
                enable-active-high;
        };

        AVDD: fixed_regulator_AVDD@1 {
                compatible = "regulator-fixed";
                regulator-name = "AVDD_reg";
                regulator-min-microvolt = <2800000>;
                regulator-max-microvolt = <2800000>;

        };

        DVDD: fixed_regulator_DVDD@2 {
                compatible = "regulator-fixed";
                regulator-name = "DVDD_reg";
                regulator-min-microvolt = <1500000>;
                regulator-max-microvolt = <1500000>;
        };

        digilent_hdmi {
                compatible = "digilent,hdmi";

                clocks = <&axi_dynclk_0>;
                clock-names = "clk";

                digilent,edid-i2c = <&axi_iic_1>;
                digilent,fmax = <150000>;

                port@0 {
                        reg = <0>;
                        hdmi_ep: enddpoint {
                                remote-endpoint = <&pl_disp_ep>;
                        };
                };
        };

        xlnx_pl_disp {
                compatible = "xlnx,pl-disp";

                dmas = <&v_frmbuf_rd_0 0>;
                dma-names = "dma0";
                xlnx,vformat = "BG24";
                xlnx,bridge = <&v_tc_0>;

                port@0 {
                        reg = <0>;
                        pl_disp_ep: endpoint {
                                remote-endpoint = <&hdmi_ep>;
                        };
                };
        };
};


&axi_iic_0 {
	ov5640: camera@3c {
		compatible = "ovti,ov5640";
		reg = <0x3c>;
		clock-names = "xclk";
		clocks = <&pcam_clk>;
                DOVDD-supply = <&DOVDD>; /* 1.8v */
                AVDD-supply = <&AVDD>;  /* 2.8v */
                DVDD-supply = <&DVDD>;  /* 1.5v */
		rotation = <180>;

		port {
			ov5640_out: endpoint {
				remote-endpoint = <&mipi_csi_inmipi_csi2_rx_subsyst_0>;
				data-lanes = <1 2>;
			};
		};
	};
};

&mipi_csi2_rx_subsyst_0 {
	video-reset-gpios = <&gpio0 54 GPIO_ACTIVE_LOW>;
	xlnx,csi-pxl-format = <0x1e>;
};

&mipi_csi_inmipi_csi2_rx_subsyst_0 {
	remote-endpoint = <&ov5640_out>;
};

&v_proc_ss_0 {
        compatible = "xlnx,v-vpss-csc";
	reset-gpios = <&gpio0 55 GPIO_ACTIVE_LOW>;
};

&csc_port0v_proc_ss_0 {
        xlnx,video-format = <XVIP_VF_YUV_422>;
};

&csc_port1v_proc_ss_0 {
        xlnx,video-format = <XVIP_VF_RBG>;
};

&v_frmbuf_wr_0 {
	reset-gpios = <&gpio0 56 GPIO_ACTIVE_LOW>;
};


&axi_dynclk_0 {
        compatible = "dglnt,axi-dynclk";
        #clock-cells = <0>;
};

&v_frmbuf_rd_0 {
        reset-gpios = <&gpio0 58 GPIO_ACTIVE_LOW>;
};

&v_tc_0 {
        compatible = "xlnx,bridge-v-tc-6.1";
        xlnx,pixels-per-clock = <1>;
};

